@import url("fileupload.css");
@import url("datepickercontrol.css");
body
{
	font: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	color:#666666;
	margin-left:0;
	margin-top:0;
    background:url(../images/bgblocks.gif) repeat;
}

.form-fileds
{
	border:#333333 1px solid;
	height:15px;
	padding:2px;
	color:#666666;
}
.swiftchoicebuttonbig
{
	BORDER: solid 0 #FFFFFF; BACKGROUND: URL(../images/bluebutton-big.gif) no-repeat; HEIGHT: 21px; WIDTH: 115px; COLOR: #000000; FONT-FAMILY: Verdana, Tahoma; FONT-SIZE: 11px; MARGIN: 0px; padding-top: 3px; padding-bottom: 15px; vertical-align:middle;
	cursor:pointer;
}

.form-fileds-userid
{
	border:#333333 1px solid;
	height:15px;
	padding:2px;
	color:#666666;
	background:url(../images/userid-bg.gif);
}

.page-footer
{
	text-align:center;
	font-size:10px;
	
}

.successsearchbox
{
	padding-left:5px; 
	padding-top:4px;
	padding-bottom:4px;
	color:#333333;
    font-size:11px;
	border:1px solid #adc7a1;
	font-weight:bold;
	background:#edf3eb;
	
}


.top-small-text
{
	color:#333333;
	font-size:11px;
	padding-right:3px;
}

.error-message
{
	background:#e05353; 
	color:#ffffff; 
	padding:3px;
}
.resendtext
{
color: #CC0000;;
}

.resendtext a:hover
{
color: #3366FF;
cursor:pointer;
}

.text1
{
color: #000000;;
}

.text1 a:hover
{
color: #999999;
cursor:pointer;
}

.errorbox
{
	padding-left:25px; 
	padding-top:4px;
	padding-bottom:4px;
	padding-right:4px;
	color:#333333;
    font-size:11px;
	border:1px solid #e82a2a;
	font-weight:bold;
	background:url(../images/icon_error.gif) left no-repeat #ffeaea;
}
.swiftselect-mandatory
{
	BORDER: 1px SOLID #4C77B6;
	BACKGROUND-COLOR: #F0F0F0;
	COLOR: #000000;
	FONT-FAMILY: Verdana, Tahoma;
	FONT-SIZE: 11px;
	BORDER: 1px SOLID #666666;
	margin: 0px;
	padding: 1px;
	vertical-align: middle;
	Z-INDEX: 11;
	width:225px;
	/*position:relative;*/
}
.displaysuccessbox
{
	padding-left:25px; 
	padding-top:4px;
	padding-bottom:4px;
	padding-right:4px;
	color:#333333;
    font-size:11px;
	border:1px dashed  #e82a2a;
	font-weight:bold;
	background-color: #FFFFCC;
	/*background:url(../images/green-status.gif) left no-repeat ;*/
}
.swifttext-mandatory
{
	BACKGROUND-COLOR:#F0F0F0;
	COLOR: #000000;
	FONT-FAMILY: Verdana, Tahoma;
	FONT-SIZE: 11px;
	BORDER: 1px SOLID #666666;
	PADDING: 2px 2px 2px 2px;
	MARGIN: 0px;
	vertical-align: middle;
}

.successbox
{
	padding-left:25px; 
	padding-top:4px;
	padding-bottom:4px;
	/*padding-right:4px;*/
	color:#333333;
    font-size:11px;
	border:1px solid #adc7a1;
	font-weight:bold;
	background:#edf3eb;
	background:url(../images/green-status.gif) left no-repeat #edf3eb;
}

.success-message
{
	background:#4F4F00; 
	color:#FFFFFF; 
	padding:3px;
}

.logout-text
{
	color:#277DC9;
	font-weight:bold;
}

.logout-text a
{
	color:#277DC9;
	font-weight:bold;
	text-decoration:none;
}

.logout-text a:hover
{
	color:orange;
	font-weight:bold;
	text-decoration:none;
}
.navigation
{
	background:url(../images/navigation-bg.gif) repeat-x;
	height:20px;
	color:#FFFFFF;
	vertical-align:middle;
}

.navigation-menusep
{
	background:url(../images/navigation-separator.gif) no-repeat;
	height:20px;
	width:1px;
	padding:0;
}

.lt-top
{
	background:url(../images/lt-top-bg.gif) top center no-repeat;
	height:5px;
}

.lt-mid
{
	background:url(../images/lt-mid-bg.gif) center repeat-y;
	padding:2px;
}

.lt-mid a
{
	color:#333333;
	text-decoration:none;
}

.lt-mid a:hover
{
	color:#FF3300;
	text-decoration:none;
	cursor:pointer;
}

.header-line
{
	background:url(../images/table-header-bg.gif) repeat-x;
	height:23px;
	color:#FFFFFF;
	padding-top:3px;
	font-size:12px;
}

.header-line-dash
{
	background:url(../images/table-header-bg-dash1.gif) repeat-x;
	height:23px;
	color:#FFFFFF;
	padding-top:3px;
	font-size:12px;
}

.lt-btm
{
	background:url(../images/lt-btm-bg.gif) center bottom no-repeat;
	height:2px;
}

.top-small-text
{
	color:#333333;
	font-size:11px;
	padding-right:3px;
}

.page-footer-others
{
	background:url(../images/navigation-bg.gif) repeat-x;
	text-align:right;
	font-size:10px;
	color:#FFFFFF;
	padding-left:4px;
	padding-right:4px;
	padding-bottom:1px;
	padding-top:1px;
}

.page-footer-link
{
	font-size:10px;
	text-align:left;
	color:#FFFFFF;
	padding-left:4px;
	padding-right:4px;
	padding-bottom:1px;
	padding-top:1px;
}

.page-footer-link a
{
	color:#FFFFFF;
	text-decoration:none;
}

.page-footer-link a:hover
{
	color:#FFFF00;
	text-decoration:none;
	cursor:pointer;
}

.home-nav
{
	background:url(../images/home-nav-bg.gif) repeat-x;
}
.home-nav-div-line
{
	background:#85B8E3;
	height:5px;
}
.home-nav-sub-div
{
	background:#E5EEF9;
	height:20px;
	padding-left:6px;
	color:#333333;
	padding-top:5px;
	vertical-align:middle;
}
.home-nav-sub-div a
{
	color:#333333;
	text-decoration:none;
}
.home-nav-sub-div a:hover
{
	color:#FF0000;
	text-decoration:none;
	cursor:pointer;
}

.register-nav
{
	background:url(../images/register-nav-bg.gif) repeat-x;
}
.register-nav:hover
{
	cursor:pointer;
}

.register-nav-div-line
{
	background:#E3858C;
	height:5px;
}
.register-nav-sub-div
{
	background:#F9E5E5;
	height:20px;
	padding-left:6px;
	color:#333333;
	padding-top:5px;
	vertical-align:middle;
}
.register-nav-sub-div a
{
	color:#333333;
	text-decoration:none;
}
.register-nav-sub-div a:hover
{
	color:#FF0000;
	text-decoration:none;
	cursor:pointer;
}

.billing-nav
{
	background:url(../images/billing-nav-bg.gif) repeat-x;
}
.billing-nav:hover
{
	cursor:pointer;
}

.billing-nav-div-line
{
	background:#ADC7A1;
	height:5px;
}
.billing-nav-sub-div
{
	background:#EDF3EB;
	height:20px;
	padding-left:6px;
	color:#333333;
	padding-top:5px;
	vertical-align:middle;
}
.billing-nav-sub-div a
{
	color:#333333;
	text-decoration:none;
}
.billing-nav-sub-div a:hover
{
	color:#FF0000;
	text-decoration:none;
	cursor:pointer;
}


.profile-nav
{
	background:url(../images/profile-nav-bg.gif) repeat-x;
}
.profile-nav:hover
{
	cursor:pointer;
}
.profile-nav-div-line
{
	background:#E3A385;
	height:5px;
}
.profile-nav-sub-div
{
	background:#F9EDE5;
	height:20px;
	padding-left:6px;
	color:#333333;
	padding-top:5px;
	vertical-align:middle;
}
.profile-nav-sub-div a
{
	color:#333333;
	text-decoration:none;
}
.profile-nav-sub-div a:hover
{
	color:#FF0000;
	text-decoration:none;
	cursor:pointer;
}

.master-nav
{
	background:url(../images/master-nav-bg.gif) repeat-x;
}
.master-nav:hover
{
	cursor:pointer;
}
.master-nav-div-line
{
	background:#9C85E3;
	height:5px;
}
.master-nav-sub-div
{
	background:#ECE5F9;
	height:20px;
	padding-left:6px;
	color:#333333;
	padding-top:5px;
	vertical-align:middle;
}
.master-nav-sub-div a
{
	color:#333333;
	text-decoration:none;
}
.master-nav-sub-div a:hover
{
	color:#FF0000;
	text-decoration:none;
	cursor:pointer;
}

.website-nav
{
	background:url(../images/website-nav-bg.gif) repeat-x;
}
.website-nav:hover
{
	cursor:pointer;
}
.website-nav-div-line
{
	background:#BBA1C7;
	height:5px;
}
.website-nav-sub-div
{
	background:#F1EBF3;
	height:20px;
	padding-left:6px;
	color:#333333;
	padding-top:5px;
	vertical-align:middle;
}
.website-nav-sub-div a
{
	color:#333333;
	text-decoration:none;
}
.website-nav-sub-div a:hover
{
	color:#FF0000;
	text-decoration:none;
	cursor:pointer;
}

.kb-nav
{
	background:url(../images/kb-nav-bg1.gif) repeat-x;
}
.kb-nav:hover
{
	cursor:pointer;
}
.kb-nav-div-line
{
	background:#e4a2dd;
	height:5px;
}
.kb-nav-sub-div
{
	background:#ffebfd;
	height:20px;
	padding-left:6px;
	color:#333333;
	padding-top:5px;
	vertical-align:middle;
}
.kb-nav-sub-div a
{
	color:#333333;
	text-decoration:none;
}
.kb-nav-sub-div a:hover
{
	color:#FF0000;
	text-decoration:none;
	cursor:pointer;
}

.content-box
{
	background:#FFFFFF;
	padding:5px;
}

.content-header
{
	background:url(../images/doublearrowsnav.gif) left no-repeat;
	color:#333333;
	padding-left:15px;
	border-bottom:1px solid #CCCCCC;
	font-size:11px;
}
.sideheading
{
	background:url(../images/doublearrowsnav.gif) left no-repeat;
	color:#333333;
	padding-left:15px;
	font-size:11px;
}
.customerselect_header
{
	background:url(../images/table-header-bg2.gif) repeat-x;
	height:23px;
	color:#FFFFFF;
	padding-top:3px;
	font-size:12px;
	text-align:left;
	vertical-align:middle;
}
.showhide
{
	color:#FF6600;
}
.showhide a
{
	color:#FF6600;
	text-decoration:none;
}
.showhide a:hover
{
	color:#277DC9;
	text-decoration:none;
	cursor:pointer
}

form
{
	MARGIN: 0px;
	PADDING: 0px;
}

.swiftbutton
{	BACKGROUND-COLOR: #FFFFFF;
	COLOR: #000000;
	FONT-FAMILY: Verdana, Tahoma;
	FONT-SIZE: 11px;
	BORDER-STYLE: solid;
	BORDER-COLOR: #CCCCCC;
	BORDER-WIDTH: 2px;
}

.hlrow
{
	BACKGROUND-COLOR: #F7FAFF;
	COLOR: red;
    FONT-SIZE: 11px;
    FONT-FAMILY: Verdana, Arial, Helvetica;
}

.smalltext
{
    FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial;
	VERTICAL-ALIGN: middle;
}

.swifttext
{
	BACKGROUND-COLOR: #FFFFFF;
	COLOR: #000000;
	FONT-FAMILY: Verdana, Tahoma;
	FONT-SIZE: 11px;
	BORDER: 1px SOLID #666666;
	PADDING: 2px 2px 2px 2px;
	MARGIN: 0px;
	vertical-align: middle;
}


.swifttextdisabled
{
	BACKGROUND-COLOR: #D4D0C8;
	COLOR: #808080;
	FONT-FAMILY: Verdana, Tahoma;
	FONT-SIZE: 11px;
	BORDER: 1px SOLID #666666;
	PADDING: 2px 2px 2px 2px;
	vertical-align: middle;
}

.swifttextarea
{
	BACKGROUND-COLOR: #FFFFFF;
	COLOR: #000000;
	FONT-FAMILY: Verdana, Tahoma;
	FONT-SIZE: 11px;
	BORDER: 1px SOLID #666666;
	padding: 2px 2px 2px 2px;
	vertical-align: middle;
	height:60px;
	width:225px;
}

.swiftcheckbox
{
	padding: 0px;
	margin: -5px;
	vertical-align: middle;
}

.swiftselect
{
	BORDER: 1px SOLID #4C77B6;
	BACKGROUND-COLOR: #FFFFFF;
	COLOR: #000000;
	FONT-FAMILY: Verdana, Tahoma;
	FONT-SIZE: 11px;
	BORDER: 1px SOLID #666666;
	margin: 0px;
	padding: 1px;
	width:255px;
	vertical-align: middle;
	Z-INDEX: 11;
}
.swiftselectname
{
	BORDER: 1px SOLID #4C77B6;
	BACKGROUND-COLOR: #FFFFFF;
	COLOR: #000000;
	FONT-FAMILY: Verdana, Tahoma;
	FONT-SIZE: 11px;
	BORDER: 1px SOLID #666666;
	margin: 0px;
	padding: 1px;
	width:100px;
	vertical-align: middle;
	Z-INDEX: 11;
}

.swiftselect optgroup
{
	FONT: inherit;
	FONT-WEIGHT: bold;
}

.swiftchoiceselect
{
	BORDER: 1px SOLID #4C77B6;
	BACKGROUND-COLOR: #FFFFFF;
	COLOR: #000000;
	FONT-FAMILY: Verdana, Tahoma;
	FONT-SIZE: 11px;
	BORDER: 1px SOLID #666666;
	margin: 0px;
	padding: 1px;
	vertical-align: middle;
	WIDTH: 200px;
	HEIGHT: 150px;
}

.swiftchoicebutton
{
	BORDER: solid 0 #FFFFFF; BACKGROUND: URL(../images/bluebuttonbg.gif) no-repeat; HEIGHT: 21px; WIDTH: 85px; COLOR: #000000; FONT-FAMILY: Verdana, Tahoma; FONT-SIZE: 11px; MARGIN: 0px; padding-top: 3px; padding-bottom: 15px; vertical-align:middle;
	cursor:pointer;
}
.swiftradiobutton
{
	BORDER: solid 1px #FF6600; BACKGROUND: COLOR: #000000; FONT-FAMILY: Verdana, Tahoma; FONT-SIZE: 11px; MARGIN: 0px; padding-top: 0px; padding-bottom: 0px; vertical-align:middle;	WIDTH: 5px; HEIGHT: 5px;
}
.swiftchoicebutton-orange
{
	BORDER: solid 0 #FFFFFF; BACKGROUND: URL(../images/yellowbuttonbigbg.gif) no-repeat; HEIGHT: 21px; WIDTH: 85px; COLOR: #000000; FONT-FAMILY: Verdana, Tahoma; FONT-SIZE: 11px; MARGIN: 0px; padding-top: 3px; padding-bottom: 15px; vertical-align:middle;
	cursor:pointer;
}
.swiftchoicebutton-red
{
	BORDER: solid 0 #FFFFFF; BACKGROUND: URL(../images/orangebuttonbg.gif) no-repeat; HEIGHT: 21px; WIDTH: 85px; COLOR: #000000; FONT-FAMILY: Verdana, Tahoma; FONT-SIZE: 11px; MARGIN: 0px; padding-top: 3px; padding-bottom: 15px; vertical-align:middle;
	cursor:pointer;
}

.swiftchoicebuttondisabled
{
	BORDER: solid 0 #FFFFFF; BACKGROUND: URL(../images/greybuttonbg.gif) no-repeat; HEIGHT: 21px; WIDTH: 85px; COLOR: #cccccc; FONT-FAMILY: Verdana, Tahoma; FONT-SIZE: 11px; MARGIN: 0px; padding-top: 3px; padding-bottom: 15px; vertical-align:middle;
}

.swiftmabutton
{
	BORDER: solid 0 #FFFFFF; BACKGROUND: URL(../images/bluebuttonbgsmall.gif) no-repeat; HEIGHT: 21px; WIDTH: 35px; COLOR: #000000; FONT-FAMILY: Verdana, Tahoma; FONT-SIZE: 11px; MARGIN: 0px; padding-top: 3px; padding-bottom: 15px; vertical-align:middle;
}

.swifttextlarge
{
	BORDER: 1px SOLID #666666;
	BACKGROUND-COLOR: #FFFFFF;
	COLOR: #000000;
	FONT-FAMILY: Verdana, Tahoma;
	FONT-SIZE: 11px;
	margin: 0px;
	padding: 2px;
	vertical-align: middle;
	HEIGHT: 16px;
}

.grid-active-tabclass
{
	background:url(../images/grid-tab-inactive.gif) no-repeat;
	width:84;
	text-align:center;
	color:#FFFFFF;
	padding-bottom:4px;
	padding-top:4px;
}

.grid-tabclass
{
	background:url(../images/grid-tab-inactive1.gif) no-repeat;
	width:84;
	text-align:center;
	cursor:pointer;
	color:#000000;
	padding-bottom:4px;
	padding-top:4px;
} 

.grid-active-tabbigclass
{
	background:url(../images/grid-tab-inactive2.gif) no-repeat;
	width:140;
	text-align:center;
	color:#FFFFFF;
	padding-bottom:4px;
	padding-top:4px;
}

.grid-tabbigclass
{
	background:url(../images/grid-tab-inactive3.gif) no-repeat;
	width:140;
	text-align:center;
	cursor:pointer;
	color:#000000;
	padding-bottom:4px;
	padding-top:4px;
}

.table-border-grid
{
	border-bottom:#d1dceb 1px solid;
	border-right:#d1dceb 1px solid;
}

.td-border-grid
{
	border-top:#d1dceb 1px solid;
	border-left:#d1dceb 1px solid;
}

.table-border-grid1
{
	border-bottom:#E1E1E1 1px solid;
	border-right:#E1E1E1 1px solid;
}

.td-border-grid1
{
	border-top:#E1E1E1 1px solid;
	border-left:#E1E1E1 1px solid;
}

.gridrow
{
}

.gridrow:hover
{
	cursor:pointer;
	background:#ffffd5;
}

.tr-grid-header
{
	background:url(../images/grid-header-bg.gif) repeat-x;
	/*background-color:#4A82BD;*/
	color:#333333;
}
.tr-report-header
{
	background-color:#4A82BD;
	color:#FFF;
}

.readonlyfield
{
	background:#FEFFE6;
}

.calendar-table-border
{
	border-bottom:#E0E8F4 1px solid;
	border-left:#E0E8F4 1px solid;
}

.calendar-td-border
{
	border-top:#E0E8F4 1px solid;
	border-right:#E0E8F4 1px solid;
}
.teamreport-td-border
{
	border-top:#E0E8F4 1px solid;
	border-right:#E0E8F4 1px solid;
	color:#000000;
	font-size:12px;
	font-weight:bold;
	text-align:center;
	vertical-align:middle;
	background-color:#FFFFFF;
	width:80px;
	height:50px;
}
.dashborder
{
	background-color: #FFFFFF;
	color: #000000;
	border: 1px solid #AACBFF;
	-moz-border-radius: 4px 4px 4px 4px;
	Z-INDEX: 10;
	BACKGROUND: #F7FAFF;
}

.dashcontent 
{
	text-decoration: none;
	margin: 0 0 0 0;
	border: 1px solid #D7E7FF;
	background: #FFFFFF;
	-moz-border-radius: 4px 4px 4px 4px;
	COLOR: #61718C;
	WIDTH: 100%;
}
.smalltext
{
    FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial;
	VERTICAL-ALIGN: middle;
}

.dashbrdbox
{
border:1px solid #cccccc; background-image:url(../images/dbback.jpg); background-repeat:repeat-x; background-position:bottom; background-color:#FFFFFF
}

.dashboard-active-tab
{
	background:#edb398;
	text-align:center;
	color:#FFFFFF;
	padding:6px;
	font-size:12px;
}
.amcdisplay
{
   	background:#FFFFFF;
	border:solid 1px #AAAAFF;
	position:absolute;
	z-index:70;
	height:auto;
}
.amctext
{
    FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial;
	VERTICAL-ALIGN: middle;
	background:#FFFFFF;
	border:dashed 1px #000000; 
	height:20px; 
	width:250px;
	padding-left:3px;
	padding-top:3px;
	 
}

.dashboard-tab
{
	background:#f9ede5;
	text-align:left;
	cursor:pointer;
	color:#000000;
	padding:6px;
	font-size:11px;
}

.print_section
{
	border:1px solid gray;
	background:#ffffff;
	margin:0 0 15px 0;
	float:left;
	width:95%;
}

.print_section p.printbutton
{
	float:left;
}

.print_section p.printbutton a
{
	text-decoration:none;
	background:white;
	display:block;
	float:left;
	margin:3px;
	border:1px solid red;
}

@media print
{
	.noprint, .printbutton
	{
		display:none;
	}
	.print
	{
		display:block;
	}
}

.close-text
{
font-size:9px;
color:#ffffff;
cursor:pointer;
}

.close-text:hover
{
font-size:9px;
color: #EAF4FF;
cursor:pointer;
}

.resendtext
{
color: #CC0000;
}

.resendtext:hover
{
color: #3366FF;
cursor:pointer;
}

.producttabheadactive
{
	border-left:1px solid #cccccc;
	border-top:1px solid #cccccc; 
	border-right:1px solid #cccccc;
}

.producttabhead
{
	border-left:0px solid #cccccc;
	border-top:0px solid #cccccc;
	border-right:0px solid #cccccc;
	border-bottom:1px solid #cccccc;
 }
 .producttabheadnone
{
	border-bottom:1px solid #cccccc;
}

.productcontent
{
	border-bottom:1px solid #cccccc; 
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
}
.r-text
{
color: #CC0000;
cursor:pointer;
}

.r-text:hover
{
color: #00793D;
cursor:pointer;
}


/* style for type  */
.category
{
	height:10px;
	width:4px;
	float:right;
	padding-top:10px;
}
.admin
{
	background-color: #82D7FF;
}
.guest
{
	background-color: #9797CC;
}
.management
{
	background-color:#BA7474;
}
.general
{
	background-color: #FF9D3C;
}
.onsite
{
	background-color:#DBF;
}

.teamleader
{
	background-color:#BCFF79;
}
.type
{
	color:#3333FF;
	font-weight:bold;
	font-size:12px;
	text-align:center;
}
.taxation
{
	background-color:#BEF078;
}
.accounts
{
	background-color:#77b272;
}
.payroll
{
	background-color:#bbb45a;
}
.others
{
	background-color:#b6415b;
}

.exist
{
	color:#3333FF;
	font-weight:bold;
	font-size:12px;
	/*text-align:center;*/
}
.yes
{
	background-color: #c0d8db ;
}

a#calldata 
{
	text-decoration:none;
	color:#000000;
}

a:hover#calldata
{
	text-decoration:none;
	color:#FF6A6A;
}

.headerclass
{
	/*background: #1e5799;
background: -moz-linear-gradient(top,  #1e5799 0%, #2989d8 50%, #207cca 100%, #7db9e8 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(100%,#207cca), color-stop(100%,#7db9e8));
background: -webkit-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 100%,#7db9e8 100%);
background: -o-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 100%,#7db9e8 100%);
background: -ms-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 100%,#7db9e8 100%); 
background: linear-gradient(to bottom,  #1e5799 0%,#2989d8 50%,#207cca 100%,#7db9e8 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); */
background: rgba(115,191,212,1);
			background: -moz-linear-gradient(top, rgba(115,191,212,1) 0%, rgba(91,176,200,1) 0%, rgba(97,202,255,1) 98%, rgba(97,202,255,1) 100%);
			background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(115,191,212,1)), color-stop(0%, rgba(91,176,200,1)), color-stop(98%, rgba(97,202,255,1)), color-stop(100%, rgba(97,202,255,1)));
			background: -webkit-linear-gradient(top, rgba(115,191,212,1) 0%, rgba(91,176,200,1) 0%, rgba(97,202,255,1) 98%, rgba(97,202,255,1) 100%);
			background: -o-linear-gradient(top, rgba(115,191,212,1) 0%, rgba(91,176,200,1) 0%, rgba(97,202,255,1) 98%, rgba(97,202,255,1) 100%);
			background: -ms-linear-gradient(top, rgba(115,191,212,1) 0%, rgba(91,176,200,1) 0%, rgba(97,202,255,1) 98%, rgba(97,202,255,1) 100%);
			background: linear-gradient(to bottom, rgba(115,191,212,1) 0%, rgba(91,176,200,1) 0%, rgba(97,202,255,1) 98%, rgba(97,202,255,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73bfd4', endColorstr='#61caff', GradientType=0 );
height:50px;
color:#FFFFFF;
font-weight:bolder;
	
}
.headername
{
	
background: rgba(115,191,212,1);
background: -moz-linear-gradient(top, rgba(115,191,212,1) 0%, rgba(91,176,200,1) 0%, rgba(97,202,255,1) 98%, rgba(97,202,255,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(115,191,212,1)), color-stop(0%, rgba(91,176,200,1)), color-stop(98%, rgba(97,202,255,1)), color-stop(100%, rgba(97,202,255,1)));
background: -webkit-linear-gradient(top, rgba(115,191,212,1) 0%, rgba(91,176,200,1) 0%, rgba(97,202,255,1) 98%, rgba(97,202,255,1) 100%);
background: -o-linear-gradient(top, rgba(115,191,212,1) 0%, rgba(91,176,200,1) 0%, rgba(97,202,255,1) 98%, rgba(97,202,255,1) 100%);
background: -ms-linear-gradient(top, rgba(115,191,212,1) 0%, rgba(91,176,200,1) 0%, rgba(97,202,255,1) 98%, rgba(97,202,255,1) 100%);
background: linear-gradient(to bottom, rgba(115,191,212,1) 0%, rgba(91,176,200,1) 0%, rgba(97,202,255,1) 98%, rgba(97,202,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73bfd4', endColorstr='#61caff', GradientType=0 );

	/*background-color:#315D94;*/
	color:#FFFFFF;
	font-weight:bolder;
	
}
.existing
{
	background: #e4f5fc; /* Old browsers */
	background: -moz-linear-gradient(top,  #e4f5fc 100%, #9fd8ef 100%, #bfe8f9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(100%,#e4f5fc), color-stop(100%,#9fd8ef), color-stop(100%,#bfe8f9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e4f5fc 100%,#9fd8ef 100%,#bfe8f9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e4f5fc 100%,#9fd8ef 100%,#bfe8f9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e4f5fc 100%,#9fd8ef 100%,#bfe8f9 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e4f5fc 100%,#9fd8ef 100%,#bfe8f9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f5fc', endColorstr='#bfe8f9',GradientType=0 ); /* IE6-9 */

}

.reportheader
{
background: #70b0e0;  Old browsers 
background: -moz-linear-gradient(top,  #70b0e0 53%, #88bfe8 74%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(53%,#70b0e0), color-stop(74%,#88bfe8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #70b0e0 53%,#88bfe8 74%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #70b0e0 53%,#88bfe8 74%);  /*Opera 11.10+ */
background: -ms-linear-gradient(top,  #70b0e0 53%,#88bfe8 74%); /* IE10+ */
background: linear-gradient(to bottom,  #70b0e0 53%,#88bfe8 74%);  /*W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#70b0e0', endColorstr='#88bfe8',GradientType=0 );  /*IE6-9 */
/*background-color:#315D94;
*/
/*border:1px solid #cccccc; 
background-image:url(../images/table-header-bg-dash1old.gif);
 background-repeat:repeat-x; 
 background-position:bottom; 
*/
height:20px;
color:#FFFFFF;
font-weight:bolder;
}
.teamreport-td-border
{
	border-top:#E0E8F4 1px solid;
	border-right:#E0E8F4 1px solid;
	color:#FFF; 
	font-weight:bold;
}
